@import '../styles/screen-sizes.scss';

.CircularProgressbar {
  @media all and (min-width: $small-min-width) {
    width: 28px !important;
    height: 28px;
  }

  @media all and (min-width: $medium-min-width) {
    width: 40px !important;
    height: 40px;
  }
}
